
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lobby {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


