
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lobby {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.status-panel {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
